*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: antiquewhite;

}
.result{
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 2rem;
  margin-left: 3.5rem;
  margin-bottom: 1rem;
  display: inline-block;
  background-color: white;
  box-shadow: 0 0 10 black;
  border-radius: 4px;
}
.text{
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}
